<h1>New Entry</h1>
<% if @user != nil %>
<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <div class="mb-3 row">
    <label for="title_input" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="title" id="title_input" name="title">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="description_input" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="description" id="description_input" name="description">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="occurred_on_input" class="col-sm-2 col-form-label">Occured On</label>
    <div class="col-sm-10">
      <input type="date" class="occurred_on" id="occurred_on_input" name="occured_on">
    </div>
  </div>
<button class="btn btn-success">Save</button>
</form>
<% else %>
  You must first <a class="btn btn-primary" href="/login">login</a> to post.
<% end %>