<h1>Places</h1>

<ul>
  <% for place in @places %>
  <ol class="list-group list-group-numbered">
  <li><a href="/places/<%= place["id"] %>" class="list-group-item"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a class="btn btn-primary" href="/places/new">New Place</a>
</p>