<h1>Places</h1>

<ul class="list-group">
<div class="w-50 p-3">
  <% for place in @places %>
  <a href="/places/<%= place["id"] %>" class="list-group-item" style="font-size: 22px;"><%= place["name"] %></a>
  <% end %>
</div>
</ul>

<div class="mt-auto p-2" style="width: 200px;">
<a class="btn btn-primary" href="/places/new">New Place</a>
</div>