<h1>New Place</h1>

<form action="/places" method="post">
<div class="mb-3 row">
    <label for="place_input" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputplace" name="name">
    </div>
</div>
<button class="btn btn-success">Save</button>
</form>